<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("templates/cabecera.templates.ejs")%>
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/perfil.css">
    <title>Perfil de investigador</title>
</head>
<body>
    <%- include("templates/navbar.templates.ejs", {titulo: "Perfil de investigador"})%>
    <main>
        <div id="maincontainer">
        <section class="container p-3">
            <div class="row">
                <h3><%= information.nombre%></h3>
                <div class="col-md-6">

                    <% information.afiliaciones.forEach(item => { %>

                        <p class="badge rounded-pill bg-secondary"><%= item%></p>

                    <% }) %>

                    <p>Orcid: <%= information.orcid%> </p>
                    <p id="scopusId">Scopus id: <%= information.id%> </p>
                </div>

                <div class="col-md-6">
                    <h5>Áreas de investigación</h5>

                    <% information.areas.forEach(item => { %>

                        <p class="badge rounded-pill bg-secondary"><%= item%></p>

                    <% }) %>

                </div>
            </div>
        </section>

        <div id="division"></div>

        <section class="container p-3">
            <div class="row"> 
                <div class="col-md-2">
                    <h5>Métricas</h5>
                    <h5><%= information.documentos%></h5>
                    <p>Publicaciones</p>
                    <h5><%= information.citas%></h5>
                    <p>Citaciones</p>
                    <h5><%= information.hIndex%></h5>
                    <p>H-index</p>
                    <h5><%= information.h5Index%></h5>
                    <p>H5-index</p>
                    <h5><%= information.fcwi%></h5>
                    <p>FCWI</p>
                </div>
                <div class="col-md-5">
                    <canvas id="grafica1" width="400" height="300">
                    </canvas>
                </div>
                <div class="col-md-5">
                    <canvas id="grafica2" width="400" height="300">
                    </canvas>
                </div>
            </div>
        </section>  
    </div>     
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="/js/graficos.js"></script>
</body>
</html>