<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("templates/cabecera.templates.ejs")%>
    <link rel="stylesheet" type="text/css" href="/css/resultados.css">
    <title>Resultados de búsqueda</title>

</head>
<body>
    <main>

        <header class="container">
            <div class="row justify-content-center">

                <div class="col-md-2">
                    <a href="/"><img src="/img/logo-espol-2.png" width="99" height="46px" alt="logo"></a>
                </div>
                
                <form method="POST" action="/resultados" class="col-md-10 container">
                    <div class="row justify-content-start">

                        <div class="form-group col-md-11">
                            <input type="search" class="form-control" id="input-finder"
                            placeholder="Ingrese un investigador, unidad académica o centro de investigación" 
                            name="terms" required>
                            
                        </div>
                        <div class="form-group col-md-1">
                            <input type="submit" class="btn btn-primary" id="submit-finder" value="Buscar">
                        </div>

                    </div>
                </form>

            </div>
        </header>

        <h3><%= total %> resultado(s) de búsqueda para: <%= terminos %></h3>

        <div class="container">
            <div class="row justify-content-center" id="resultados">
                <div class="col-md-6">

                    <% resultados.forEach(resultado => { %>

                        <div class="card m-4">

                            <div class="card-header">
                                Investigador
                            </div>
                            
                            <div class="card-body">

                                <h5 class="card-title"><%= resultado.Author %></h5>
                        
                                <form action="/investigador/<%= resultado['Scopus Author ID'] %>" 
                                method="get">

                                        <input type="submit" 
                                        class="btn btn-primary" 
                                        value="Ver perfil"
                                        data-bs-toggle="modal" 
                                        data-bs-target="#loadingModal">

                                </form> 

                            </div>

                        </div>
                    
                    <% }) %>

                    <div class="modal fade" id="loadingModal" data-bs-backdrop="static" 
                    data-bs-keyboard="false" tabindex="-1" 
                    aria-labelledby="staticBackdropLabel" 
                    aria-hidden="true">

                        <div class="modal-dialog">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Cargando perfil</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <div class="modal-body d-flex justify-content-center">

                                    <div class="modal-dialog">

                                        <div class="spinner-border text-secondary" role="status" 
                                        style="width: 3rem; height: 3rem;">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>

                                    </div>

                                </div> 
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </main>

    <%- include("templates/footer.templates.ejs")%>
</body>
</html>