@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

#input-finder{
    margin: 5px 5px 5px 15%;
    width: 70%;
    height: 8vh;
}

.finder{
    text-align: center;
}

#submit-finder{
    margin: 5px;
    background-color: #213a8f;
    border-color: #213a8f;
}