html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 40px;
    padding-bottom: 7rem;
}

.btn-primary{
    background-color: #213a8f;
    border-color: #213a8f;
}

header{
    margin: 10px;
    text-align: center;
}

#input-finder{
    margin-bottom: 10px;
}

h3{
    text-align: center;
}

.card{
    margin-bottom: 5px;
}

.card-body{
    text-align: center;
}