<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/img/logo-espol-2.png" width="99" height="46px" alt="logo">
        </a>
        <h4><b><%= titulo %></b></h4>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          </ul>
          <form class="d-flex" method="POST" action="/resultados">
            <input class="form-control me-2" type="search" placeholder="Buscar" name="terms" required>
            <button class="btn" type="submit" id="navbar-btn">Buscar</button>
          </form>
        </div>
      </div>

</nav>
